{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://www.wrappixel.com/demos/admin-templates/pixeladmin/plugins/bower_components/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Mapa {{ mapa }}</h4>
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <div id="world-map-markers" style="height: 700px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/vectormap/jquery-jvectormap-2.0.2.min.js')}}"></script>
    <script src="{{ asset('js/vectormap/vectormap-world.js')}}"></script>
    <script src="{{ asset('js/vectormap/jvectormap.custom.js')}}"></script>
{% endblock %}
